<div>
  <mat-card>
    <mat-card-header><div style="margin: 0 auto"><h1 style="">高血压治疗</h1></div></mat-card-header>
    <mat-card-content>
      <h2>单纯生活方式干预</h2>
      <p style="width: 60%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仅收缩压＜160mmHg且舒张压＜100mmHg且未合并冠心病、心力衰竭、脑卒中、外周动脉粥样硬化病、肾脏疾病或糖尿病的高血压患者，
        医生也可根据病情及患者意愿暂缓给药，采用单纯生活方式干预最多3个月。
      </p>
      <h3>干预方式:</h3>
       <mat-grid-list [cols]="1" rowHeight="50px" style="width: 50%; margin-left: 30px">
         <mat-grid-tile [colspan]="1" style="background-color: #d7dfe3">减轻体重：目标为BMI＜24kg/㎡</mat-grid-tile>
         <mat-grid-tile [colspan]="1" style="background-color: #d7dfe3">减少钠盐摄入：每人每日＜6g</mat-grid-tile>
         <mat-grid-tile [colspan]="1" style="background-color: #d7dfe3">补充钾盐：每日使用新鲜蔬菜和水果</mat-grid-tile>
         <mat-grid-tile [colspan]="1" style="background-color: #d7dfe3">减少脂肪摄入：减少食用油摄入，少吃或不吃肥肉和动物内脏</mat-grid-tile>
         <mat-grid-tile [colspan]="1" style="background-color: #d7dfe3">戒烟限酒</mat-grid-tile>
         <mat-grid-tile [colspan]="1" style="background-color: #d7dfe3">增加运动</mat-grid-tile>
         <mat-grid-tile [colspan]="1" style="background-color: #d7dfe3">减轻精神压力，保持心态平衡</mat-grid-tile>
         <mat-grid-tile [colspan]="1" style="background-color: #d7dfe3">必要时补充叶酸制剂（如高同型半胱氨酸血症）</mat-grid-tile>
       </mat-grid-list>
      <h2>药物治疗</h2>
      <h3>A. &nbsp;ACEI及ARB：血管紧张素转换酶抑制剂及血管紧张素II受体拮抗剂</h3>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">ACEI及ARB：</label>最佳适应症：高血压伴有心力衰竭。
        <label  style="font-weight: bold; color: red">不良反应：</label>ACEI常引起干咳（常见），可换用ARB，两类药均可引起血管神经性水肿（少见）。
        <label style="font-weight: bold; color: red">禁忌：</label>双侧肾动脉狭窄、肌酐（Cr） ≥ 3mg/dl（265µmol/L）的严重肾功能不全、高血钾。
      </p>
      <h3>B. &nbsp;β受体阻滞剂</h3>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold"> β受体阻滞剂：</label>最佳适应症：可降低心率，尤其适用于心率偏快的患者，用于 合并心肌梗死或心力衰竭的患者，可改善预后
        <label style="font-weight: bold; color: red">禁忌症：</label>严重心动过缓患者， 如心率＜ 55 次 / 分、病态窦房结综合征、二度或三度房室传导阻滞。哮喘 患者禁用
      </p>
      <h3>C. &nbsp;CCB 钙通道阻滞剂</h3>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold"> CCB：</label>老最佳适应症：年单纯收缩期高血压
        <label  style="font-weight: bold; color: red">不良反应：</label>ACEI常引起干咳（常见），可换用ARB，两类药均可引起血管神经性水肿（少见）。
        <label style="font-weight: bold; color: red">无明显禁忌症：</label>头痛、 踝部水肿
      </p>
      <h3>D. &nbsp;利尿剂</h3>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold"> 利尿剂：</label>最佳适应症：尤其适用于老年人、单纯收缩期 高血压及合并心力衰竭的患者。
        <label  style="font-weight: bold; color: red">不良反应：</label>电解质紊乱
        <label style="font-weight: bold; color: red">禁忌：</label> 痛风患者禁用噻嗪类利尿剂。
      </p>
      <h3>1. &nbsp;无合并症高血压药物治疗方案</h3>
      <p style="width: 60%"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">单药治疗：</label>收缩压＜ 160 mmHg 且舒张压＜ 100 mmHg
        可选择 C、A、D 或 B。B 尤其适用于心率偏快者。起始剂量观察  2~4 周，未达标者加量，或更换另一种药物，或直接联合使用两种药物，每调整一次观察 2~4 周；
      </p>
      <p style="width: 60%"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">双药联合：</label>收缩压≥ 160 mmHg 和 / 或舒张压≥ 100 mmHg：推荐两种药物联合使用，如 C+A，A+D，C+D，或 C+B，或者选用相应的固定剂量复方制剂。未达标则采用如上方法增加剂量或更换方案，每调整一次治疗观察 2~4 周。禁止ACEI联合ARB
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">三药联合：</label>C+A+D 或 C+A+B 2-4周未达标可转诊，或四药联合，2-4周不达标再转诊。
      </p>
      <h3>2. &nbsp;有合并症高血压药物治疗方案（注：合并症急性期建议转诊治疗）</h3>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">合并心肌梗死：</label>首选 A+B，小剂量联用，避免出现低血压。若未达标可加量，仍未达标加用长效 C 或 D（包括螺内酯）。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">合并心绞痛：</label>可选择 B 或 A 或 C，可联用，仍未达标加用 D。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">合并心力衰竭：</label>A+B，小剂量联用，合并钠水潴留时加用 D，一般选择 袢利尿剂，并补钾，可加螺内酯，仍未控制可加C（限氨氯地平、非洛地平）。合并心力衰竭患者起始联用 A 和 B，主要用于改善预后，应注意血压偏低者 起始剂量宜小，缓慢加量。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">合并脑卒中：</label>可选择 C、A、D，未达标者可联合使用。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">合并糖尿病：</label>首选 A，未达标者加用 C 或 D。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">合并慢性肾脏疾病：</label>首选 A，未达标者加用 C 或 D。肌酐水平首次超出 正常范围，建议降压治疗方案由上级医院决定。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">合并外周动脉粥样硬化病：</label>初始选择 C、A、D 或 B 均可，单药未达标 可联合用药，同“无合并症高血压药物治疗方案”。但慎用非选择性 β 受 体阻滞剂如普萘洛尔。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">心肌梗死：</label> A+B，A+B+C或转诊或A+B+D4，A+B+C3+D。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">心绞痛：</label> B或B+C或B+C+A或A或B+A或B+C+D，C，A+C。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">心力衰竭：</label>A+B2，A+B+D4，转诊或A+B+D4+C3。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">脑卒中：</label>C或A或D C+A或C+A+D，C+D，或A+D。
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">糖尿病或慢性肾脏疾病:</label> A A+C 或 A+C+D5  A+D。
      </p>
      <!--<p>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold">ACEI及ARB：</label>最佳适应症：高血压伴有心力衰竭。-->
        <!--<label  style="font-weight: bold; color: red">不良反应：</label>ACEI常引起干咳（常见），可换用ARB，两类药均可引起血管神经性水肿（少见）。-->
        <!--<label style="font-weight: bold; color: red">禁忌：</label>双侧肾动脉狭窄、肌酐（Cr） ≥ 3mg/dl（265µmol/L）的严重肾功能不全、高血钾。-->
      <!--</p>-->
      <!--<p>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold"> β受体阻滞剂：</label>最佳适应症：可降低心率，尤其适用于心率偏快的患者，用于 合并心肌梗死或心力衰竭的患者，可改善预后-->
        <!--<label style="font-weight: bold; color: red">禁忌症：</label>严重心动过缓患者， 如心率＜ 55 次 / 分、病态窦房结综合征、二度或三度房室传导阻滞。哮喘 患者禁用-->
      <!--</p>-->
      <!--<p>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold"> CCB：</label>老最佳适应症：年单纯收缩期高血压-->
        <!--<label  style="font-weight: bold; color: red">不良反应：</label>ACEI常引起干咳（常见），可换用ARB，两类药均可引起血管神经性水肿（少见）。-->
        <!--<label style="font-weight: bold; color: red">无明显禁忌症：</label>头痛、 踝部水肿-->
      <!--</p>-->
      <!--<p>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-weight: bold"> 利尿剂：</label>最佳适应症：尤其适用于老年人、单纯收缩期 高血压及合并心力衰竭的患者。-->
        <!--<label  style="font-weight: bold; color: red">不良反应：</label>电解质紊乱-->
        <!--<label style="font-weight: bold; color: red">禁忌：</label> 痛风患者禁用噻嗪类利尿剂。-->
      <!--</p>-->
    </mat-card-content>
    <div style="float: right; margin-right: 50px">
      <button style="margin: 5px;"   mat-raised-button color="warn"    (click)="next()">下一步</button>
    </div>
  </mat-card>
</div>
