<div class="login-register">
    <div class="login-register-box">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="text-center"><h4 class="m-t-0" style="font-size:larger;font-family: Arial, Helvetica, sans-serif">找回密码</h4></div>        
            <div  fxLayout="column"  fxLayoutAlign="space-around">
              <div class="pb-1">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="请输入您的邮箱地址" type="email" [formControl]="form.controls['email']">
                </mat-form-field>
                <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="text-danger support-text">请输入您的邮箱地址</small>
                <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="text-danger support-text">请输入有效的邮箱地址</small>
              </div>
              <button mat-raised-button color="primary" type="submit"  class="btn-block btn-lg m-t-20"  [disabled]="!form.valid">登录</button>
            </div>
            
          </form>
         </mat-card-content>
      </mat-card>
    </div>
  </div>

