<mat-card>
  <mat-card-content>
      <mat-card-header class="bg-success text-white">
              
          <mat-card-title>
            <button (click)="mailnav.toggle()" mat-icon-button>
              <mat-icon>menu</mat-icon>
            </button>
            站内信箱
          </mat-card-title>
          <!-- <mat-form-field style="width: 200px">
              <input matInput placeholder="">
          </mat-form-field> -->
          <button mat-fab color="warn" style="left: 80%" (click)="create()"> 
            <mat-icon class="mat-24">create</mat-icon>
          </button>
          
      </mat-card-header>
      <mat-sidenav-container class="email-box" [ngClass]="{ 'side-panel-opened': sidePanelOpened, 'side-panel-closed': !sidePanelOpened }" style="min-height: 800px">
        <mat-sidenav #mailnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" (open)="sidePanelOpened = true"  
        (close)="sidePanelOpened = false" class="mail-sidebar" [perfectScrollbar]="config" [disabled]="isOver()" class="email-sidebar">
        <!-- <div style="border: 2px #ccc solid"> -->
            <!-- <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>条件过滤</mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                      <input matInput placeholder="收件人姓名" [(ngModel)]="filters.receiverName">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="发件人姓名" [(ngModel)]="filters.senderName">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput placeholder="邮件主题" [(ngModel)]="filters.subject">
                  </mat-form-field>
                  <mat-form-field style="max-width: 200px">
                      <input matInput [matDatepicker]="picker1" placeholder="初始时间" (dateChange)="test()" [(ngModel)]="filters.startDate">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                  &nbsp;&nbsp;<label>~</label>
            
                  <mat-form-field style="max-width: 200px">
                    <input matInput [matDatepicker]="picker2" placeholder="结束时间" [(ngModel)]="filters.endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </mat-expansion-panel>
              </mat-accordion> -->
  
              <!-- <mat-form-field>
                  <input matInput placeholder="">
              </mat-form-field> -->
        <!-- </div> -->     
        
        <div *ngFor="let email of emailList; let i = index" [class.selected]="email.emailId === selectedEmail.emailId">
            <div (click)="onSelect(email)">
                  <div class="d-flex">
                    <div class="icon-avatar">
                      <img alt="" class="avatar" src="{{email.sender.avatar}}" *ngIf="email.sender.avatar"/>
                      <!-- <mat-icon [ngClass]="message.iconClass" class="avatar" *ngIf="message.icon">{{message.icon}}</mat-icon> -->
                    </div>
                    <div>
                      <div class="mail-title" fxShow.gt-xs style="min-width: 120px;">
                        <span>{{email.sender.name}}</span>
                        <mat-icon [ngClass]="{'sender': email.sender.id === settings.user.id,'unread': email.read === false && email.sender.id !== settings.user.id}">reply</mat-icon>
                        <span>{{email.receiver.name}}</span>
                      </div>
                      <div class="text-ellipsis">
                        <span>{{email.subject}}</span>
                      </div>
                      <div class="pl-1 text-xs-right text-ellipsis hide-on-open" fxShow.gt-sm>
                        <small class="text-xs-muted">{{ email.sendTime * 1000 | date: 'fullDate' }}</small>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>
              <mat-paginator [length]="paginatorConfig.length" [pageSize]="paginatorConfig.pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </mat-sidenav>

          <!-- Mail Content Here -->
        <div #mailcontent class="main-content" fxLayout="row" fxLayoutAlign="center start" >
          <div class="messages-list" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <div class="card-body" *ngIf="selectedEmail">
                  <div class="email-right-panel">
                      <div class="d-flex align-items-center m-b-30">
                          <div class="avatar-detail"> <img alt="" class="avatar-lg rounded-circle" src="{{selectedEmail.sender.avatar}}" *ngIf="selectedEmail.sender.avatar"/> </div>
                          <div class="p-l-20">
                              <div class="font-medium">{{selectedEmail.sender.name}}</div> 
                              <!-- <span class="font-14">Reply to: {{selectedMessage.email}}</span> -->
                              <!-- <br/> -->
                              <label class="label label-{{role2labelDict[selectedEmail.sender.role]}}">{{roleDict[selectedEmail.sender.role]}}</label>
                          </div>
                          <mat-icon style="margin-left: 20px">send</mat-icon>
                          <div class="p-l-20">
                              <div class="font-medium">{{selectedEmail.receiver.name}}</div> 
                              <!-- <span class="font-14">Reply to: {{selectedMessage.email}}</span> -->
                              <!-- <br/> -->
                              <label class="label label-{{role2labelDict[selectedEmail.receiver.role]}}">{{roleDict[selectedEmail.receiver.role]}}</label>
                          </div>
                          &nbsp;&nbsp; -- &nbsp;&nbsp; {{selectedEmail.sendTime * 1000 | date: 'yyyy-MM-dd' }}
                      </div>
                      <h4 class="lead mt-0 m-b-30">{{selectedEmail.subject}}</h4>
                      <div [innerHtml]="selectedEmail.content"></div>
                      <mat-action-row>
                        <button mat-raised-button mat-button-sm color="primary" class="mx-xs" (click)="reply()">回复</button>
                        <button mat-raised-button mat-button-sm color="accent" class="mx-xs" (click)="transfer()">转发</button>
                        <button mat-raised-button mat-button-sm color="warn" class="mx-xs" (click)="delete()" >删除</button>
                        <button mat-raised-button mat-button-sm color="default" class="mx-xs" (click)="create()">新建</button>
                      </mat-action-row>
                  </div>
              </div>
          </div>
        </div>
      </mat-sidenav-container>
  </mat-card-content>
</mat-card>