<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="!conf.displayControl">
        {{conf.title}} <button mat-stroked-button color="accent" style="margin-left: 5px" (click)="addRow()">{{conf.addButtonTitle}}</button>
      </mat-card-title>
      <mat-card-title *ngIf="conf.displayControl">
        <section>
          <mat-checkbox class="example-margin" [(ngModel)]="displayControl" >{{conf.title}}</mat-checkbox>
        </section>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="displayControl" style="width: 80%; ">
        <mat-grid-list [cols]="conf.cols" rowHeight="80px" >
          <mat-grid-tile *ngFor="let item of conf.layout.headerLayout" [colspan]="item.cols" [rowspan]="item.rows" style="border: 1px solid #02bec9">
            <mat-label *ngIf="item.type=='text'" style="color: #028ee1">{{item.text}}</mat-label>
            <mat-select *ngIf="item.type=='option'" style="max-width: 80%" [(ngModel)]="item.key_value._value" (ngModelChange)="answerChange()"  placeholder="请点击选择" [disabled]="item.disabled">
              <mat-option>--请点击选择--</mat-option>
              <mat-option  *ngFor="let option of item.options" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-grid-tile>
        </mat-grid-list>
        <div *ngFor="let item of conf.layout.contentLayout, index as i">
          <mat-grid-list [cols]="conf.cols" rowHeight="80px">
            <mat-grid-tile *ngFor="let iter of conf.layout.contentLayout[i]" [colspan]="iter.cols" [rowspan]="iter.rows" style="border: 1px solid #02bec9">
              <mat-label *ngIf="iter.type=='text'" style="color: #028ee1">{{item.text}}</mat-label>
              <mat-select *ngIf="iter.type=='option'" style="max-width: 70%" [(ngModel)]="iter.key_value._value" (ngModelChange)="answerChange()" [disabled]="iter.disabled" placeholder="请点击选择">
                <mat-option>--请点击选择--</mat-option>
                <mat-option  *ngFor="let option of iter.options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
              <div *ngIf="iter.type=='input_with_text'" style="max-width: 99%">
                <mat-form-field style="max-width: 60px">
                  <input matInput [(ngModel)]="iter.key_value._value" [disabled]="iter.disabled" (ngModelChange)="answerChange()">
                </mat-form-field>
                <label *ngIf="iter.right_text" style="margin-left: 8px">{{iter.right_text}}</label>
              </div>
              <mat-form-field *ngIf="iter.type=='date'" style="max-width: 250px">
                <input style="max-width: 300px" matInput [matDatepicker]="picker" [(ngModel)]="iter.key_value._value" (ngModelChange)="answerChange()"  placeholder="点击选择时间" [disabled]="iter.disabled">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-select *ngIf="iter.type=='year_selector'" style="max-width: 80%" [(ngModel)]="iter.key_value._value" (ngModelChange)="answerChange()"  placeholder="请点击选择" [disabled]="iter.disabled">
                <mat-option>--请点击选择--</mat-option>
                <mat-option  *ngFor="let option of iter.options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
              <mat-form-field *ngIf="iter.type=='input'" style="max-width: 80%">
                <!--<mat-label *ngIf="item.left_text">{{item.left_text}}</mat-label>-->
                <input matInput [(ngModel)]="iter.key_value._value" [disabled]="iter.disabled" >
                <mat-label *ngIf="iter.right_text">{{iter.right_text}}</mat-label>
              </mat-form-field>
            </mat-grid-tile>

            <button mat-mini-fab color="warn" style="margin-top: 20px; float: right;margin-right: 10px" (click)="deleteRow(i)">删除</button>
          </mat-grid-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

