.file {
  position: relative;
  display: inline-block;
  background: #ff652f;
  border: 0px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: rgb(247, 250, 245);
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  background: #fdfcc8;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}


.text {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: rgb(13, 18, 28);
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  margin-left: 10px;
}

mat-grid-tile {
  border: 1px solid #a8a8a8;
}
