<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{conf.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field style="max-width: 100px">
        <mat-select [(ngModel)]="conf.key_value._value" (ngModelChange)="answerChange()" [disabled]="edit_disabled">
          <mat-option>--None--</mat-option>
          <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label style="margin-left: 15px; margin-right: 15px">年</mat-label>

      <!--<mat-form-field style="max-width: 100px">-->
        <!--<mat-select>-->
          <!--<mat-option>1</mat-option>-->
          <!--<mat-option>2</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->

      <!--<mat-label style="margin-left: 15px; margin-right: 15px">月</mat-label>-->
    </mat-card-content>
  </mat-card>
</div>
