<div>
  <mat-card>
    <mat-card-header>
      <h3>
        乳腺癌患者数据录入
      </h3>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-tab-group>
          <mat-tab *ngFor="let tab of mammary_list" [label]="tab.step_description">
            <ng-template mat-tab-label style="font-size: large; color: #232a37">{{tab.step_description}}</ng-template>
            <ng-template matTabContent>
              <div *ngFor="let cmp of tab.items">
                <div [ngSwitch]="cmp.type">
                  <app-dc-general-selector        *ngSwitchCase="'selector'"        [conf]="cmp" ></app-dc-general-selector>
                  <app-dc-general-date            *ngSwitchCase="'date'"            [conf]="cmp" ></app-dc-general-date>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
