
<div class="left">
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding 
  cdkDropList 
  [cdkDropListData]="[node.filename] || [node.type]"
  [cdkDropListConnectedTo]="[doneList]">
  
    <button mat-icon-button disabled></button>
    <div cdkDrag>
        <div *ngIf = "node.type === 'string' ">
          <span class="type fa  fa-font" title="string"></span>
          <span style="margin-left: 15px;">{{node.filename}}</span>
        </div>
        <div *ngIf = "node.type === 'number'">
          <span class="type fa  fa-align-justify"  title="number"></span>
          <span style="margin-left: 15px;">{{node.filename}}</span>
        </div>
        <div *ngIf = "node.type === 'date'">
          <span class="type fa  fa-calendar"  title="date"></span>
          <span style="margin-left: 15px;">{{node.filename}}</span>
        </div>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding >
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div>{{node.filename}} : {{node.type}}</div>
  </mat-tree-node>
</mat-tree>
</div>

<div class = "middle">
<div class="example-container">
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of done" cdkDrag> 
        <mat-form-field class="example-full-width">
        <textarea matInput placeholder="key">{{item}}</textarea>
        </mat-form-field>
    </div>
</div>
</div>