mat-expansion-panel {
  background-color: #f0f0f063 !important;
}
.mat-expansion-panel-body{
  padding: 0px !important;
}

::ng-deep .mat-grid-tile1 .mat-figure {
  justify-content: center !important;
}

.textarea{
  font-size: larger !important;
}