<mat-accordion>
  <mat-expansion-panel *ngFor="let items of data_list, let index = index" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       {{items.part5_jclb}} 
      </mat-panel-title>
      <mat-panel-description>
        {{items.part5_jcsj.substr(0, 10)}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card >
      <mat-card-content>
        <mat-grid-list [cols]="conf.cols" rowHeight="80px">
          <mat-grid-tile *ngFor="let item of layout_list[index]" [colspan]="item.cols" [rowspan]="item.rows" style="border: 1px solid #020303">
            <div *ngIf="item.type=='input_with_text'" style="max-width: 99%">
              <label *ngIf="item.left_text" style="margin-right: 8px">{{item.left_text}}</label>
              <mat-form-field style="max-width: 60px">
                <input matInput [(ngModel)]="item.key_value._value" [disabled]="item.disabled" (ngModelChange)="answerChange()">
              </mat-form-field>
              <label *ngIf="item.right_text" style="margin-left: 8px">{{item.right_text}}</label>
            </div>
            <div *ngIf="item.type=='table'" style="max-width: 99%">
              <mat-card>
                <mat-card-content>
                <mat-grid-list [cols]="conf.cols" rowHeight="80px">
                    <mat-grid-tile *ngFor="let item of conf.layout" [colspan]="item.cols" [rowspan]="item.rows" style="border: 1px solid #020303">
                <mat-form-field *ngIf="item.type=='input'" style="max-width: 80%">
                    <!--<mat-label *ngIf="item.left_text">{{item.left_text}}</mat-label>-->
                    <input matInput [(ngModel)]="item.key_value._value" [disabled]="item.disabled" >
                  </mat-form-field>
                <mat-label *ngIf="item.type=='text'" style="color: #020303; font-size: large">{{item.text}}</mat-label>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
              </div>

            <div *ngIf="item.type=='input_double_with_text'" style="max-width: 99%">
              <label *ngIf="item.left_text" style="margin-right: 5px">{{item.left_text}}</label>
              <mat-form-field style="max-width: 50px">
                <input matInput [(ngModel)]="item.key_value[0]._value" [disabled]="item.disabled" (ngModelChange)="answerChange()">
              </mat-form-field>
              <label *ngIf="item.center_text" style="margin-left: 5px; margin-right: 5px">{{item.center_text}}</label>
              <mat-form-field style="max-width: 50px">
                <input matInput [(ngModel)]="item.key_value[1]._value" [disabled]="item.disabled" (ngModelChange)="answerChange()">
              </mat-form-field>
              <label *ngIf="item.right_text" style="margin-left: 5px">{{item.right_text}}</label>
            </div>

            <mat-form-field *ngIf="item.type=='input'" style="max-width: 100%">
              <!--<mat-label *ngIf="item.left_text">{{item.left_text}}</mat-label>-->
              <input matInput [(ngModel)]="item.key_value._value" [disabled]="item.disabled" >
              <mat-label *ngIf="item.right_text">{{item.right_text}}</mat-label>
            </mat-form-field>


            <mat-radio-group *ngIf="item.type=='radio'" [(ngModel)]="item.key_value._value" (ngModelChange)="answerChange()" [disabled]="item.disabled">
              <mat-label *ngIf="item.left_text">{{item.left_text}}</mat-label>
              <mat-radio-button *ngFor="let option of item.options"  [value]="option" style="margin-left: 5px">
                {{option}}
              </mat-radio-button>
              <mat-label *ngIf="item.right_text">{{item.right_text}}</mat-label>
            </mat-radio-group>

            <mat-label *ngIf="item.type=='text'" style="color: #020303; font-size: large">{{item.text}}</mat-label>

            <mat-select *ngIf="item.type=='option'" style="max-width: 80%" [(ngModel)]="item.key_value._value" (ngModelChange)="answerChange()"  placeholder="请点击选择" [disabled]="item.disabled">
              <mat-option>--请点击选择--</mat-option>
              <mat-option  *ngFor="let option of item.options" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>

            <mat-select *ngIf="item.type=='year_selector'" style="max-width: 80%" [(ngModel)]="item.key_value._value" (ngModelChange)="answerChange()"  placeholder="请点击选择" [disabled]="item.disabled">
              <mat-option>--请点击选择--</mat-option>
              <mat-option  *ngFor="let option of item.options" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>

            <section *ngIf="item.type=='checkbox'">
              <mat-checkbox *ngFor="let option of item.options,index as i" class="example-margin" (change)="answerChange()" [(ngModel)]="item.key_value[i]._value" [disabled]="item.disabled">{{option}}</mat-checkbox>
            </section>

            <mat-form-field *ngIf="item.type=='date'" style="max-width: 250px">
              <input style="max-width: 300px" matInput [matDatepicker]="picker" [(ngModel)]="item.key_value._value" (ngModelChange)="answerChange()"  placeholder="点击选择时间" [disabled]="item.disabled">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="item.type==='file'" style="max-width: 300px">
              <a class="file">
                <input type="file"> 选择文件
              </a>
              <a class="text">
                {{item.fileName}}
              </a>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

  </mat-expansion-panel>
</mat-accordion>
