<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/chronic/avatar.png" width="30" height="30" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item [routerLink]="['/setting']">
        <mat-icon>settings</mat-icon> 设置 
    </button>
    <!-- <button mat-icon-button class="ml-xs overflow-visible" [routerLink]="['/setting']">
        <mat-icon>settings</mat-icon>
      </button> -->
    <button mat-menu-item (click)="logout.logout()">
        <mat-icon>exit_to_app</mat-icon> 登出
    </button>
</mat-menu>

<label class="label label-{{role2labelDict[setting.user.role]}} m-l-10 m-r-10">{{roleDict[setting.user.role]}}</label>
<label>{{setting.user.id}}</label>