
<!--<div style="height: 500px;width:500px;overflow: auto;">-->
<div *ngIf="data.type === 'nominal'">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="selection" cdkFocusInitial>Ok</button>
  </div>
  <!--<table mat-table [dataSource]="data.vals" class="mat-elevation-z8">-->

    <!--&lt;!&ndash; Checkbox Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="select">-->
      <!--<th mat-header-cell *matHeaderCellDef>-->
        <!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
                      <!--[checked]="selection.hasValue() && isAllSelected()"-->
                      <!--[indeterminate]="selection.hasValue() && !isAllSelected()">-->
        <!--</mat-checkbox>-->
      <!--</th>-->
      <!--<td mat-cell *matCellDef="let row">-->
        <!--<mat-checkbox (click)="$event.stopPropagation()"-->
                      <!--(change)="$event ? selection.toggle(row) : null"-->
                      <!--[checked]="selection.isSelected(row)">-->
        <!--</mat-checkbox>-->
      <!--</td>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="postion">-->
      <!--<th mat-header-cell *matHeaderCellDef> No. </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="value">-->
      <!--<th mat-header-cell *matHeaderCellDef> value </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.value}} </td>-->
    <!--</ng-container>-->

    <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"-->
        <!--(click)="selection.toggle(row)">-->
    <!--</tr>-->
  <!--</table>-->
</div>
<div *ngIf="data.type === 'quantitative'">
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value"
    tickInterval="1000"
    min="1"
    max="100000"></mat-slider>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="formatLabel()" cdkFocusInitial>Ok</button>
  </div>
</div>
<div *ngIf="data.type === 'temporal'">

</div>

<!--</div>-->
