<div class="login-register" >
    <img src="assets/images/background/yifuyuan-logo.png" style="position: absolute; top: 20px; left: 20px;;">
    <div class="login-register-box" style="position: absolute; top:270px; left:800px;;">
        <mat-card class="login">
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class="text-center"><h4 class="m-t-0">结肠癌数据管理系统</h4></div>

                    <div fxLayout="column" fxLayoutWrap="wrap">
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="用户名" [formControl]="form.controls['uname']"> 
                            </mat-form-field>
                            <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched" class="text-danger support-text">请输入用户名</small>
                        </div>
                        <!-- col full-->    
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="密码" [formControl]="form.controls['password']"> 
                            </mat-form-field>
                            <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">请输入密码</small>
                        </div>
                        <br>
                        <!-- col half-->
                        <!-- <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                            <mat-checkbox color="warn">记住密码</mat-checkbox>
                        </div> -->
                        <!-- col half-->
                        <!-- <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                            <a [routerLink]="['/authentication/forgot']" class="link">Forgot pwd?</a>
                        </div> -->
                        <!-- col full-->    
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                            <button mat-raised-button color="primary" class="btn-block " type="submit" [disabled]="!form.valid">登录</button> 
                        </div>
                        <br>
                        <!-- col full-->    
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                            <a [routerLink]="['/authentication/forgot']"  class="text-info link">忘记密码？</a>
                        </div>
                     </div>   
                  </form>
             </mat-card-content>
        </mat-card>
    </div>
</div>
