<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-header><mat-card-title ><h2 style="margin-left: 25px">导出规则管理</h2></mat-card-title></mat-card-header>
          <mat-card-content> 
              <!-- <div class="bg-light p-10 p-r-20 p-l-20">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
              </div>     -->

              <mat-form-field style="max-width: 200px; margin-right: 20px; left: 5px;">
                <input matInput placeholder="用户名" [(ngModel)]="filters.id" (ngModelChange)="filter()">
              </mat-form-field>
        
              <mat-form-field style="max-width: 200px; margin-right: 20px; left: 5px;">
                  <input matInput placeholder="字段名" [(ngModel)]="filters.name" (ngModelChange)="filter()">
              </mat-form-field>

              <mat-form-field style="max-width: 200px; margin-right: 20px; left: 5px;">
                <input matInput placeholder="创建者" [(ngModel)]="filters.creator" (ngModelChange)="filter()">
            </mat-form-field>

                <!-- <mat-form-field style="max-width: 200px; margin-right: 30px">
                  <mat-select >
                    <mat-option>-- None --</mat-option>
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                  <mat-label>负责医师</mat-label>
                </mat-form-field> -->
                <label style="margin-left:20px">保存时间：</label>
                <mat-form-field style="max-width: 200px;">
                  <input matInput [matDatepicker]="picker1" placeholder="开始日期" 
                  (dateChange)="startDateSelected($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 (closedStream)="startDateSelected($event)"></mat-datepicker>
                </mat-form-field>
        
                <label style="margin-right: 10px; margin-left: 10px">~</label>
        
                <mat-form-field style="max-width: 200px; margin-right: 30px">
                  <input matInput [matDatepicker]="picker2" placeholder="结束日期" 
                  (dateChange)="endDateSelected($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>                 

              <div class="table-rasponsive">
                  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

                  <!-- ID Column
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                  </ng-container> -->

                  <!-- userName Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> 规则号 </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> 规则名 </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                  </ng-container>

                  <!-- role Column -->
                  <ng-container matColumnDef="creator">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> 创建者 </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.creator}} </mat-cell>
                  </ng-container>

                  <!-- supervisor Column -->
                  <ng-container matColumnDef="modificator">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> 修改者 </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.modificator}} </mat-cell>
                    </ng-container>

                  <!-- dateSignUp Column -->
                  <ng-container matColumnDef="createtime">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> 保存时间 </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.createtime}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="updatetime">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> 修改时间 </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.updatetime}} </mat-cell>
                      </ng-container>

                  <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef> 删除 </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                          <!-- <a class="text-info">修改</a> &nbsp; -->
                          <span> <a (click)="deleteRule(row)"  style="color: #1E88E5">
                          <button mat-icon-button color="accent">
                            <mat-icon>delete</mat-icon>删除
                          </button> </a>
                        </span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="update">
                        <mat-header-cell *matHeaderCellDef> 修改 </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span> <a (click)="saveRule(row.id)"  style="color: #1E88E5">
                                <button mat-icon-button color="accent">
                                  <mat-icon>update</mat-icon>修改
                                </button> </a>
                              </span>
                        </mat-cell>
                    </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
                <button mat-mini-fab class="m-l-10 m-t-10" (click)="triggerManagement()">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-paginator [length]="paginatorConfig.length" [pageSize]="paginatorConfig.pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
               ></mat-paginator>
                
              </div>
              
          </mat-card-content>
      </mat-card>
  </div>
</div>

