<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{conf.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field style="max-width: 100px">
        <mat-select [(ngModel)]="conf.key_value[0]._value" (ngModelChange)="answerChange()" [disabled]="edit_disabled">
          <mat-option>--None--</mat-option>
          <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label style="margin-left: 15px; margin-right: 15px">年</mat-label>

      <mat-form-field style="max-width: 100px">
        <mat-select [(ngModel)] = "conf.key_value[1]._value" (ngModelChange)="answerChange()" [disabled]="edit_disabled">
          <mat-option>--None--</mat-option>
          <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label style="margin-left: 15px; margin-right: 15px">月</mat-label>
    </mat-card-content>
  </mat-card>
</div>
