.mat-raised-button {
  float: right;
  margin-right: 10px;
}

::ng-deep em {
  color: red !important;
}

.mat-tab-label{
  font-size: larger;
  color:rgb(0, 0, 0);
  font-weight: 500;
  min-width: 10px;

}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-chip-list {
  width: 100%;
}

.example-button-row {
  margin-top: 10px;
}

.filter-panel {
  margin-top: 20px;
}
