
<div>
    <mat-card style="width: 97%">
      <mat-card-header><mat-card-title ><h3 style="margin-left: 25px">结直肠癌患者数据管理</h3></mat-card-title></mat-card-header>
      <mat-card-content>
        <mat-card>
            <mat-tab-group (selectedTabChange)="onLinkClick($event)">
                <mat-tab *ngFor="let tab of searchModeList" [label]="tab">
                    <ng-template mat-tab-label style="font-size:large;color: #232a37"><span class='mat-tab-label'>{{tab}}</span></ng-template>
                    <ng-template matTabContent>

  <mat-card *ngIf="tab === '查找搜索'">
          <mat-form-field *ngIf="user.role !== 'doctor' && user.role !== 'patient' && user.role !== 'community'" style="max-width: 200px; margin-right: 30px">
            <input matInput placeholder="住院流水号" [(ngModel)]="patientID">
          </mat-form-field>
  
          <mat-form-field  *ngIf="user.role !== 'patient'" style="max-width: 200px; margin-right: 30px">
            <input matInput placeholder="患者姓名" [(ngModel)]="patientName">
          </mat-form-field>
  
          <mat-form-field *ngIf="user.role !== 'doctor' && user.role !== 'patient'" style="max-width: 200px; margin-right: 30px">
            <mat-select [(ngModel)]="Disease">
              <mat-option  *ngFor="let option of DiseaseList" [value]="option">{{option}}</mat-option> 
              <mat-option>-- None --</mat-option>
            </mat-select>
            <mat-label>入院诊断</mat-label>
          </mat-form-field>
  
          <label *ngIf="user.role !== 'patient'" style="margin-right: 5px">入院时间：</label>
  
          <mat-form-field *ngIf="user.role !== 'patient'" style="max-width: 200px;">
            <input matInput [matDatepicker]="picker1" placeholder="选择一个时间" [(ngModel)]="startTime">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
  
          <label *ngIf="user.role !== 'patient'" style="margin-right: 10px; margin-left: 10px">~</label>
  
          <mat-form-field *ngIf="user.role !== 'patient'" style="max-width: 200px; margin-right: 30px">
            <input matInput [matDatepicker]="picker2" placeholder="选择一个时间" [(ngModel)]="endTime">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <button  *ngIf="user.role !== 'patient'" mat-raised-button color="primary" (click)="search()">查询</button>
          <button  *ngIf="user.role !== 'patient'" mat-raised-button color="primary" style="margin-left: 20px" (click)="clear()">清空</button>

        </mat-card>

      <mat-card *ngIf="tab === '关键字搜索'">
          <mat-form-field  *ngIf="user.role !== 'patient'" style="max-width: 800px; margin-right: 30px">
            <input  matInput placeholder="请输入您要查找的关键字" [(ngModel)]="searchParam">
          </mat-form-field>
          <button  *ngIf="user.role !== 'patient'" mat-raised-button color="primary" (click)="getSearchData(searchParam)">搜索</button>
          <button  *ngIf="user.role !== 'patient'" mat-raised-button color="primary" style="margin-left: 20px" (click)="clear()">清空</button>
        </mat-card>
          <!--<mat-radio-group [(ngModel)]="searchMode">
            <mat-radio-button value="0">普通检索</mat-radio-button>
            <mat-radio-button value="1">关键字搜索</mat-radio-button>
           </mat-radio-group>-->

      <div *ngIf="tab === '全点位搜索'">
                <mat-card style="width: 97%">
                      <div  *ngFor="let i of conditions" >
                        <div>
                           <span style="position: relative;left: 70px;">
                              <mat-form-field *ngIf="i.isLogicRemove"   appearance="outline"  style="max-width: 80px; margin-right: 30px;">
                                <mat-select placeholder=" " [(ngModel)]="i.logicValue" name="logicValue">
                                  <mat-option *ngFor="let logic of logics" [value]="logic">
                                      {{logic}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </span>
              
                          <span style="position: relative;margin-left: 70px;margin-right: 20px;">
                              <mat-form-field   appearance="outline" style="max-width: 200px; margin-right: 30px;height: 10px;" >
                                 <!-- <input type="text" matInput placeholder="输入选择条件"  (ngModelChange)="selectChange($event,i)"
                                    required [matAutocomplete]="autoGroup"   [(ngModel)]="i.inputTypeValue" > -->
                                <input type="text" required matInput placeholder="请输入或者选择检索字段" [matAutocomplete]="autoGroup"  (ngModelChange)="selectChange($event,i)"  [(ngModel)]="i.inputTypeValue">
                                  <mat-autocomplete #autoGroup="matAutocomplete"  >
                                   <mat-optgroup *ngFor="let group of i.stateGroupOptions" [label]="group. medicalforms">
                                      <mat-option *ngFor="let name of group.medicalformsoptions" [value]="name.text">
                                           {{name.text}}
                                      </mat-option>
                                    </mat-optgroup>
                                  </mat-autocomplete>
                              </mat-form-field>
              
                              <mat-form-field *ngIf="i.isNumber"   appearance="outline"  style="max-width: 180px; margin-right: 30px" >
                                  <input matInput placeholder=""  [(ngModel)]="i.inputValue1" type="number">
                               </mat-form-field>
                               <span *ngIf="i.isNumber" style=" margin-right: 20px">---</span>
                               <mat-form-field *ngIf="i.isNumber"  appearance="outline"  style="max-width: 180px; margin-right: 30px">
                                  <input matInput placeholder=""  [(ngModel)]="i.inputValue2" type="number">
                               </mat-form-field>
              
                              <mat-form-field *ngIf="i.isNotNumber" appearance="outline" style="max-width: 200px; margin-right: 30px"  >
                                <mat-select placeholder="" [(value)]="i.selectedValue"  name="operator" >
                                  <mat-option *ngFor="let operator of i.operators" [value]="operator" >
                                      {{operator}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field *ngIf="i.isNotNumber&&i.isSelect!=true"  appearance="outline" style="max-width: 200px; margin-right: 30px;" >
                                <mat-label>输入查找内容</mat-label>
                                <input matInput placeholder=""  [(ngModel)]="i.inputValue">
                              </mat-form-field>
              
                              <mat-form-field *ngIf="i.isTime"  appearance="outline" style="max-width: 180px; margin-right: 30px;">
                                  <input matInput [matDatepicker]="picker" placeholder="选择日期" [(ngModel)]="i.startTime" >
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              <span *ngIf="i.isTime" style=" margin-right: 20px">~~</span>
                              <mat-form-field *ngIf="i.isTime"  appearance="outline" style="max-width: 180px; margin-right: 30px;">
                                <input matInput [matDatepicker]="picker" placeholder="选择日期" [(ngModel)]="i.endTime"  >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
              
                              <span style="max-width: 200px; margin-right: 30px;" *ngIf="i.isClearRemove" >
                                  <!-- <img src="../../../assets/images/trash.png" alt="删除" (click)="clearSingleRetrieval(i)"
                                    style=" width: 28px; height: 28px;position: absolute;left: 700px;margin-top: 20px"/> -->
                                  <mat-icon  (click)="clearSingleRetrieval(i)"
                                             style=" width: 28px; height: 28px;position: absolute;left: 700px;margin-top: 20px;font-size: 36px;cursor: pointer;">
                                     remove_circle_outline
                                  </mat-icon>
                              </span>
                            </span>
                       </div>

                        <div class="example-button-row" style="position: absolute;left: 880px;top: 10px;" *ngIf="i.isAddRemove">
                          <mat-icon  (click) = "addRetrieval($event,i)" style="font-size: 36px;cursor: pointer;">add_circle_outline</mat-icon>
                        </div>
                      </div>
              
                      <div class="example-button-row" style="top: 20px; left:1000px;position: absolute;">
                        <button mat-raised-button color="primary" (click) = "searchRetrieval()">查找</button>
                        <button mat-raised-button color="primary" (click) = "cleaRetrieval()">清空</button>
                      </div>

                        <div><h4 style="margin-left: 25px">检索条件</h4></div>
  
              
                          <mat-chip-list style="bottom:20px; left:100px;position: relative;"  >
                            <div  *ngFor="let i of conditions">
                              <span >{{i.logicValue}}</span>
                              <mat-chip color="accent" selected *ngIf="i.inputTypeValue!=null&&i.isNotNumber">{{i.inputTypeValue}} <span>"{{i.selectedValue}}"</span>
                                <span *ngIf="i.isSelect!=true">{{i.inputValue}}</span>
                                <mat-icon matChipRemove  (click)="clearSingleRetrieval(i)">cancel</mat-icon>
                              </mat-chip>
                              <mat-chip color="accent" selected *ngIf="i.inputTypeValue!=null&&i.isNumber">{{i.inputTypeValue}}<span>{{i.inputValue1}}</span>
                                <span *ngIf="i.inputValue1!=null">~{{i.inputValue2}}</span>
                                <mat-icon matChipRemove  (click)="clearSingleRetrieval(i)">cancel</mat-icon>
                              </mat-chip>
                              <mat-chip color="accent" selected *ngIf="i.inputTypeValue!=null&&i.isTime">{{i.inputTypeValue}}<span>{{i.startTime | date:'yyyy/MM/dd'}}</span>
                                <span *ngIf="i.startTime!=null">~{{i.endTime | date:'yyyy/MM/dd'}}</span>
                                <mat-icon matChipRemove  (click)="clearSingleRetrieval(i)">cancel</mat-icon>
                              </mat-chip>
                            </div>
                          </mat-chip-list>
                </mat-card>
      </div>
           
           </ng-template>  
           </mat-tab>        
         </mat-tab-group>
         </mat-card>
        <mat-card style="width: 100%; margin-top: 20px">
          <table mat-table [dataSource]="PatientList" style="width: 100%;">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns.slice(0, searchMode === 0 ? displayedColumns.length - 1 : searchMode === 1 ? displayedColumns.length - 2 : displayedColumns.length -1)">
              <th mat-header-cell *matHeaderCellDef> {{dictionary[column]}} </th>
              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
            <ng-container matColumnDef="highlight" >
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" style="max-width: 300px" [innerHTML]="element['highlight'] | Html"></td>
            </ng-container>
            <ng-container matColumnDef="operate" style="max-width: 200px">
              <th mat-header-cell *matHeaderCellDef style="font-size: medium"> 操作 </th>
              <td mat-cell *matCellDef="let element">
                <span> <a (click)="goToDetail(element)"  style="color: #1E88E5">
                  <button mat-icon-button color="accent">
                    <mat-icon>search</mat-icon>查看
                  </button> </a>
                </span>
                <!--<span> <a href="#" style="color: #1E88E5"> |导出 </a> </span>-->
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: rgba(0, 0, 0, 0.08)"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [length]="paginatorConfig.length" [pageSize]="paginatorConfig.pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="pageChanged($event)" showFirstLastButtons></mat-paginator>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  
